.container-full {
    width: 575px;
    height: 385px;
    background: #1B244A;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 106px;
    
}

.container-column {
    width: 150px;
    margin-top: 68px;
    margin-bottom: 69px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.team {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score {
    background: #080001;
    color: #F94F6D;
    font-family: 'Cursed Timer ULiL', sans-serif;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding-top: 18px;
}

#score-element-1 {
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    text-align: center;
    color: #F94F6D;
}

#score-element-2 {
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    text-align: center;
    color: #F94F6D;
}

.button-row {
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: none;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    color: #EEEEEE;
}